@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins&display=swap");

html {
  font-size: 10px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 1.6rem;
}

.nav-menu {
  background-color: #d66060;
  margin: -15px;
  background-size: cover;
}
.nav-item {
  font-size: 14px;
  font-weight: bold;
}

#menu-bar {
  height: 30px;
  width: 30px;
  margin-right: 10%;
}

.main-para {
  padding-bottom: 30px;
}

.click-me-button {
  height: 30px;
  width: 150px;
  background-color: #d66060;
  color: white;
  font-family: "Roboto";
  border: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to right, #f7fabb, #e3d6fc);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container-1 {
  background-image: linear-gradient(to right, #e3d6fc, #f7fabb);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-6 {
  width: 48%;
  box-sizing: border-box;
  margin-top: 10px;
}

.left-side-text {
  padding: 10px;
  margin-top: 100px;
  margin-left: 20px;
  text-align: start;
}

.burger-image-container {
  height: 100vh;
  margin-top: 0px;
  width: 50vw;
}

.burger-image {
  max-width: 100%;
  height: 100vh;
  width: 50vh;
}

/* -------------------Page-2------------------- */

.two-images {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.stag-img {
  height: 200px;
  width: 200px;
  padding-bottom: 10px;
  margin-right: -20px;
}

.table-img {
  height: 200px;
  width: 200px;
  margin-right: -20px;
}

.food-img {
  margin-top: 50px;
  width: 200px;
  height: 410px;
}

.image-container {
  display: flex;
  margin-left: 20px;
  height: 700px;
  max-width: 500px;
}
/* .third-image {
  height: 700px;
  margin-top: 10px;
} */

.box-container {
  margin: 100px;
  margin-left: 20px;
  background-color: #d66060;
  padding: 20px;
}

.click-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow-img {
  height: 20px;
  width: 20px;
}

.main-head {
  font-family: "Roboto";
  font-size: 40px;
  padding-bottom: 30px;
}

.burger-image {
  height: 100%;
  width: 100%;
}

#ham-menu {
  background-color: #c93232;
  display: none;
  cursor: pointer;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  position: relative;
}

.show-header {
  display: flex;
}

.show-ham-icon {
  display: block;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: auto;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 1rem 3rem;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav img {
  width: 2rem;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

main {
  font-family: "Inter", sans-serif;
}

#home {
  width: 100%;
  height: 100vh;
  padding: 0 6vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.home-content {
  width: 60rem;
  background-color: #ca604bc9;
  padding: 4rem;
}

.home-content h1 {
  margin-bottom: 1.2rem;
  font-size: 4rem;
  letter-spacing: 4px;
}

.home-content p {
  line-height: 24px;
}

#order {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 6vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  background: linear-gradient(110deg, #ff6dbe, #ffdd5a 70%);
}

#order h1 {
  font-size: 4rem;
  color: white;
  line-height: 4rem;
  letter-spacing: 0.6rem;
}

.Menu-list {
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.menu-card {
  width: 30rem;
  background-color: white;
  padding: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
}

.menu-card .name {
  text-transform: uppercase;
  font-size: 2rem;
}

.Menu-list img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-top-right-radius: 40px;
}

#order button {
  padding: 16px 60px;
  border-radius: 40px;
  border: none;
  background-color: #ffc9b9;
  font-weight: 600;
  font-size: 2rem;
}

/* Adjustments for Responsiveness */
@media screen and (max-width: 1020px) {
  nav li {
    margin: 0 0.8rem;
  }

  #ham-menu {
    display: none;
    cursor: pointer;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #ham-menu {
    display: none;
    cursor: pointer;
  }

  nav li {
    margin: 0 1rem;
  }

  #home,
  #order {
    padding: 6rem 3vw;
  }

  .home-content {
    width: 100%;
  }

  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  .Menu-list {
    width: 80vw;
  }

  #order button {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 660px) {
  nav li {
    font-size: 1.6rem;
    margin: 0 0.5rem;
  }

  nav img {
    width: 1.6rem;
  }
}

/* Mobiles */
@media screen and (max-width: 480px) {
  #ham-menu {
    display: block;
    position: fixed;
    right: 10px;
    width: 30px;
    filter: invert(1);
  }

  header {
    display: none;
    width: 26rem;
    position: fixed;
    right: 0;
    justify-content: flex-end;
  }

  #close {
    filter: invert(1);
    width: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  nav {
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  nav ul {
    margin: 0;
  }

  nav li {
    display: block;
    margin: 4rem 2rem;
    font-size: 2rem;
  }

  .contacts {
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 0 2rem;
  }

  .home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
  }

  .home-content p {
    line-height: 22px;
  }

  #order h1 {
    font-size: 3rem;
  }

  .menu-card .name {
    font-size: 1.6rem;
  }

  #order button {
    padding: 0.8rem 2.6rem;
    font-size: 1.6rem;
  }
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}
